/* Widget background color */ 

body,
.np-body-bg{
	background-color: ##141414 !important; /* bright red */
}

/*
  Definition of: 
  
  1.  header background color 
  2.  Date input background color
  3.  Select box background color 
  4.  Datepicker background color
*/
#header, 				/* 1. */
.np-filed, 				/* 2. */
.np-select:active, 
.selectWrapper, 		/* 3. */
.selectOptions, 		/* 3. */
.ui-datepicker,  		/* 4. */
.np-select.active
.np-input{
	background-color: #FF0000 !important; /* bright green */
}


/*
 	Base text style
 	
 	Text color of
 	1. Base paragraph text
 	2. Link text color
 	3. Alternative times text color (second step
 	4. VOP text color
 	5. Select box options text color
*/
.np-body p, 								/* 1. */
.np-link,								/* 2. */
.np-options a,							/* 5. */
p a.np-link,								/* 2. */
.np-checkbox-wrapp a,					/* 4. */
.np-options li:not(:first-child):before{
	color: #FF0000 !important; /* bright red */
}


/*
	Link hover style definition
*/
a.np-link:hover,
.np-options a:hover,
.np-checkbox-wrapp a:hover{
	color: #0000FF !important; /* bright blue */
	text-decoration: none;
}


/*
	Datepicker & Header text style
	
	Text color of:
	1. Header text color
	2. Select option text color
	3. Datepicker's dayOfweek labels text color
	4. Datepicker's next/prev arrows color
	5. Datepicker's active days text color
*/
#header,											/* 1. */
.np-select,											/* 2. */
.selectOptions li,									/* 2. */
.np-filed,
.ui-datepicker th,									/* 3. */
.ui-datepicker-prev span,.ui-datepicker-next span, 	/* 4. */
.ui-datepicker tbody td a{ 							/* 5. */
	color: #FFFFFF !important; /* white */
}

/**
* 	Color of top selectbox arrow (first step)
*/
.np-select:after {
  border-color: #FFFFFF transparent transparent transparent !important; /* red */
}

/**
* 	Color of bottom selectbox arrow (first step)
*/
.np-select:before{
  border-color: transparent transparent #FFFFFF transparent !important; /* red */
}


/* Select box options separator */
.selectOptions li{
	border-bottom:1px solid #FF0000 !important; /* red */
}
.selectOptions li:hover {
	color: #00FF00 !important; /* green */
	background: #FFFF00 !important; /* yellow */
}

/**
* 	Datepicker style
*/
.ui-datepicker-header,
.ui-datepicker-title{ 
	color: #FF0000 !important; /* red */
}

/*
	Datepicker's disabled days
*/
.ui-datepicker-unselectable span{
	color: #FF00FF !important; /* magenta */
}
.ui-datepicker-calendar .ui-state-active {
	color: #FF0000 !important; /* red */
}
.ui-datepicker tbody td a{
	border-bottom: 2px solid #FF0000 !important; 
}

.ui-datepicker-today a{
	background-color: #FF0000 !important;
}
.ui-datepicker-today .ui-state-active{
	color: #FFFFFF !important;
}

/**
* Widget button style
*/
.np-button{
	background-color: #FF0000 !important; 
	border-color: #FF4500 !important; /* orange red */
	color: #FFFFFF !important; 
}
.np-button:hover{
 	background-color: #FF6347 !important; /* tomato */
	border-color: #FF0000 !important;
}

/*
	Style definition of sub-header box (second/third/fourth step)
*/
.np-label-box{
	color: #FFFFFF !important;
	background-color: #FF0000 !important; 
}

/*
	Small triangle situated bottom of sub-header
	Same color like: .np-label-box{ background-color: }.
*/
.np-label-box .np-triangle{
    border-color: #FF0000 transparent transparent transparent !important;
}

/*
* Style definition of alternatives times. (Second step of booking)  
*/
.np-alternatives li{
    border-color: #FF0000 !important; 
    color: #FF0000 !important;
}
.np-alternatives li:hover{
    background-color: #FF0000 !important; 
    color: #FFFFFF !important;
}

/*
	Inactive input fields in third step.
*/
.np-disabled,
.np-disabled .np-input,
.np-alternatives .np-disabled, 
.np-alternatives .np-disabled:hover{
	border-color: #808080 !important; /* gray */
	color: #808080 !important;
}

/*
	Border color of input fields in third step of booking
*/
.np-input-wrapp{
  border-bottom: 3px solid #FF0000 !important;
}

/*
	Background color of circle situated in Google Map
*/
.np-gmap-ico{
	background-color: #FF0000 !important;
}

.np-text-before{
	border-top: #FF0000 !important;
}
